<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<button
  [disabled]="!allowNewServer"
  class="btn btn-primary"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<!-- <p>{{ allowNewServer }}</p> -->
<p [innerText]="allowNewServer"></p>

<app-server></app-server>
<app-server> </app-server>
<label>Update username</label>
<input type="text" class="form-control" [(ngModel)]="username" />
<p>Username: {{ username }}</p>
<button
  [disabled]="!username"
  class="btn btn-primary"
  (click)="onCreateUsername()"
>
  Create New username
</button>
